<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>MyBlog</title>
	</head>
	<body>
		<h3>Add blog details</h3>
		<form action="#" th:action="@{/addblog}" th:object="${blog}" method="post">
		    <label for="name">Title</label>
		    <div>
		    	<input type="text" th:field="*{title}" id="title" placeholder="Blog Title">
		    </div>
		    <div style="margin: 25px 0px">
		    	<textarea th:field="*{content}" id="content" rows="8" cols="50" placeholder="Blog Content"></textarea>
		    </div>
		    <input type="submit" value="Add Blog">   
		</form>
		<br>
		<a th:href="@{/}">Return to homepage</a>
	</body>
</html>